/* TODO: Fix mobile styles once Font Awesome is installed.
 * - Home icon should go away on mobile
 * - Close icon and circle should overlap
 */

/* Note: Unity has xl breakpoint of 1260px and
 * default Bootstrap is 1200px. Set media queries
 * as 1200px until using Unity.
 */

/* Bootstrap stuff */

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

/* This breaks hamburger menus
.collapse:not(.show) {
  display: none;
}
*/
@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 400rem;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* media queries */

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1200px;
  }
  .navbar-expand-xl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}


/* Overall styles */

.w-100 {
  width: 100% !important;
}

#asu-header .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

#asu-header .col-12, #asu-header .col {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

#asu-header .col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

#asu-header .container, #asu-header .container-lg, #asu-header .container-xl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

#asu-header a {
  background-color: transparent;
  color: #191919;
}

#asu-header {
  font-family: Arial,Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #191919;
  text-align: left;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: 999;
  left: 0;
  padding: 0;
  background: rgb(255, 255, 255) none repeat scroll 0 0;
}

#header-top .nav-link {
  color: #484848;
  font-size: 0.75em;
  font-family: Arial,Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
  line-height: 0.75em;
  padding: .25em .5em .25em .5em;
  margin-right: .5em;
}

#asu-header input, #asu-header button, #asu-header select, #asu-header optgroup, #asu-header textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#asu-header button, #asu-header input {
  overflow: visible;
}

#asu-header [type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

#asu-header .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75em + 2px);
  padding: .375em .75em;
  /*font-size: 1em;*/
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25em;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

#asu-header [type="button"]:not(:disabled), #asu-header [type="reset"]:not(:disabled), #asu-header [type="submit"]:not(:disabled), #asu-header button:not(:disabled) {
  cursor: pointer;
}

#asu-header .navbar, #asu-header .navbar-brand .horiz, #asu-header .navbar-brand .vert, #asu-header .title {
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
}

.dropdown-toggle::after { border: none; }

#header-top label {
  font-weight: bold;
  font-size: 0.85em;
}

#header-top .form-inline {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#header-top .form-inline label {
  position: relative;
  margin-left: -85px;
  font-weight: 400;
  transition: all 0.5s;
  color: #747474;
}

#header-top .form-inline label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0;
}

#header-top input[type="search"] + label {
  display: none;
}

#header-top input[type="search"] {
  background: url("https://lib.asu.edu/images/font-awesome-svg/search-gray-6.svg") no-repeat 10px 50%;
  background-size: auto;
  background-size: 12px;
  width: 32px;
  cursor: pointer;
  font-size: .75em;
  line-height: 0.75em;
  border: 0;
  border-radius: 0;
  padding: .25em;
  transition: all 0.5s;
  height: 1.5em;
  margin: 0;
}

.region-tertiary-content .block-block.last {
  padding-right: 15px;
  width: 100%;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125em;
  padding-bottom: .3125em;
  margin-right: 1em;
  font-size: 1.25em;
  line-height: inherit;
  white-space: nowrap;
}

@media (min-width: 1200px) {
  #header-main .navbar {
    padding: 0;
    align-items: flex-start;
  }
}
@media (min-width: 576px) {
  #asu-header .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  #asu-header .form-inline label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
}


/*--------------------------------------------------------------
# Global Header

1. Wrapper Definitions, Global Mixins, Variables
2. Top Menu
3. Scrolled, Mobile
4. Scrolled, Desktop
5. Main Menu, Mobile
6. Main Menu, Mobile Only
7. Main Menu, Desktop
8. Page Content
--------------------------------------------------------------*/
/*.dropdown-pinned {
    overflow: hidden;
    position: fixed;
}*/

/*--------------------------------------------------------------
2. Top Menu
--------------------------------------------------------------*/
#wrapper-header-top {
  background-color: #e8e8e8;
  height: 24px;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: auto;
  padding: 4px;
}

#header-top {
  background-color: #e8e8e8;
  height: auto;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
}

#header-top .nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header-top .nav-link {
  color: #484848;
  font-size: 0.75em;
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
  line-height: 0.75em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}

#header-top .nav-link.sr-only {
  justify-self: flex-start;
}

#header-top .login-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.5em;
}

#header-top .login-status > a {
  padding: 0;
  margin: 0;
  color: #484848;
  text-decoration: none;
}

#header-top .login-status > a.name {
  font-weight: 700;
}

#header-top .login-status > a.signout:before {
  content: '(';
  margin-left: 4px;
}

#header-top .login-status > a.signout:after {
  content: ') ';
}

#header-top .form-inline label {
  position: relative;
  margin-left: -85px;
  font-weight: 400;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #747474;
}

#header-top input[type='search'] {
  background: url("https://lib.asu.edu/images/font-awesome-svg/search-gray-6.svg") no-repeat 10px 50%;
  background-size: 12px;
  width: 32px;
  cursor: pointer;
  font-size: .75em;
  line-height: 0.75em;
  border: 0;
  border-radius: 0;
  padding: 0.25em;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 1.5em;
  margin: 0;
}

#header-top input[type='search'] + label {
  display: none;
}

#header-top input[type='search']:focus {
  background-image: url("https://lib.asu.edu/images/font-awesome-svg/search-gray-5.svg");
  width: 200px;
  color: #747474;
  background-color: #fff;
  cursor: auto;
  margin: .75em 0;
  padding-left: 2em;
}

#header-top input[type='search']:focus + label {
  display: block;
}

#header-top input[type='search']:focus:valid + label {
  display: none;
}

#header-top input:-moz-placeholder {
  color: transparent;
}

#header-top input::-webkit-input-placeholder {
  color: transparent;
}

/*--------------------------------------------------------------
3. Scrolled, Mobile
--------------------------------------------------------------*/
#asu-header .navbar,
#asu-header .navbar-brand .horiz,
#asu-header .navbar-brand .vert,
#asu-header .title {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
}

#asu-header.scrolled #wrapper-header-top {
  height: 0;
  overflow: hidden;
}

#asu-header.scrolled #header-top {
  height: 0;
  overflow: hidden;
}

#asu-header.scrolled #header-main .navbar-brand .horiz {
  margin-bottom: 0.5em;
}

#asu-header.scrolled #header-main .navbar-brand .vert {
  margin: 12px 1em 12px 0;
  padding: 0.25em 0;
  height: 64px;
}

#asu-header.scrolled #header-main .title {
  padding-bottom: 1em;
}

#asu-header.scrolled #header-main .title .unit-name {
  display: none;
}

/*--------------------------------------------------------------
4. Scrolled, Desktop
--------------------------------------------------------------*/
@media (min-width: 1200px) {
  #asu-header.scrolled .navbar-container.no-links {
    margin-top: 2em;
  }
  #asu-header.scrolled .navbar-nav .nav-link,
  #asu-header.scrolled .navbar-nav .dropdown .nav-link {
    padding-top: 0;
  }
  #asu-header.scrolled #header-main .navbar-brand .vert {
    padding: 0;
  }
  #asu-header.scrolled #header-main .title {
    padding-bottom: 0;
    margin: 16px 0;
  }
  #asu-header.scrolled #header-main .title.subdomain-name {
    font-size: 1.5em;
  }
}

/*--------------------------------------------------------------
5. Main Menu, Mobile
--------------------------------------------------------------*/

#wrapper-header-top {
  display: none;
}



#wrapper-header-main {
  border-bottom: 1px solid #d0d0d0;
  background-color: #ffffff;
}

#header-main {
  padding: 0;
}

#header-main .navbar {
  padding: 1.5em 0 0 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#header-main .navbar-brand {
  padding: 0;
  margin: 0;
}

#header-main .navbar-brand .vert {
  display: none;
}

#header-main .navbar-brand .horiz {
  display: block;
  height: 32px;
  width: auto;
  margin-bottom: 1em;
  margin-left: 2em;
}

#header-main .navbar-toggler {
  color: #191919;
  border: 0;
  margin-right: 2em;
}

#header-main .navbar-toggler:focus {
  outline: 0;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.svg-inline--fa.fa-w-14 {
  width: .875em;
}

#header-main .navbar-toggler .fa-stack {
  width: 0.875em;
  height: 1em;
}

#header-main .navbar-toggler .fa-circle {
  color: #e8e8e8;
  /*font-size: 1em;*/
  font-size: 16px;
  margin-left: -12px;
  /* Magic number, align icon with hamburger */
}

#header-main .navbar-toggler .fa-times {
  margin-left: -5px;
  /* Magic number, same thing */
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em;
}

.fa-stack-1x, .fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  margin-left: auto;
  right: 0;
  top: 0;
}

#header-main .navbar-toggler.collapsed .fa-stack {
  display: none;
}

#header-main .navbar-toggler.collapsed .fa-bars {
  display: inline-block;
}

#header-main .navbar-toggler:not(.collapsed) .fa-stack {
  display: inline-block;
}

#header-main .navbar-toggler:not(.collapsed) .fa-bars {
  display: none;
}

#header-main .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

#header-main .title {
  line-height: 1;
  /*font-size: 1em;*/
  font-size: 16px;
  font-weight: 700;
  padding: 0 2em 1.5em 2em;
}

#header-main .title > a {
  color: #191919;
  text-decoration: none;
}

#header-main .title > a:visited {
  color: #191919;
}

#header-main .title > a:hover {
  text-decoration: underline;
}

#header-main .title .unit-name {
  display: none;
}

#header-main .navbar-nav .nav-link {
  padding: 1em 2em 0.5em 2em;
  border-top: 1px solid #d0d0d0;
  color: #191919;
  text-decoration: none;
}

#header-main .navbar-nav .nav-link .fa-home {
  display: none;
}

#header-main .navbar-nav .nav-link:visited {
  color: #191919;
}

#header-main .navbar-nav .nav-link:after {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  content: '';
  display: block;
  height: 0.5em;
  background-color: #ffc627;
  position: absolute;
  top: 3em;
  bottom: inherit;
  width: 0;
  margin-left: 2em;
  position: relative;
  top: 0.5em;
}

#header-main .navbar-nav .nav-link.active:after {
  width: 100%;
  margin-left: 0;
}

#header-main .navbar-site-buttons {
  padding: 1em 2em;
  border-top: 1px solid #d0d0d0;
}

#header-main .navbar-site-buttons .btn {
  margin-bottom: 1em;
  margin-left: 1rem;
}

#header-main .navbar-site-buttons .btn:last-of-type {
  margin-bottom: 0;
}

#header-main #menubar {
  overflow-y: scroll;
}

#header-main #menubar.collapsing {
  height: unset !important;
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .navbar-expand-xl .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand-xl .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-xl .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand-xl .navbar-toggler {
    display: none; } }

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.navbar-expand > .container,
.navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0; }
.navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute; }
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }
.navbar-expand > .container,
.navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
.navbar-expand .navbar-nav-scroll {
  overflow: visible; }
.navbar-expand .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }
.navbar-expand .navbar-toggler {
  display: none; }

#header-main #menubar.collapsing .navbar-mobile-footer.pinned,
#header-main #menubar.show .navbar-mobile-footer.pinned {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

#header-main .navbar-mobile-footer {
  background-color: #e8e8e8;
}

#header-main .navbar-mobile-footer .navbar-mobile-search {
  padding: 1em 2em;
  width: 100%;
  border-top: 1px solid #d0d0d0;
}

#header-main .navbar-mobile-footer .navbar-mobile-search input {
  width: 100%;
  background: url("https://lib.asu.edu/images/font-awesome-svg/search-gray-6.svg") no-repeat 10px 50%;
  background-size: 16px;
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  padding-left: 32px;
}

#header-main .navbar-mobile-footer .nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  justify-items: start;
  width: 100%;
}

#header-main .navbar-mobile-footer .nav-grid .nav-link {
  color: #191919;
  margin-right: 0;
  text-align: center;
  width: 100%;
  font-size: 0.875em;
  padding: 1em 1.5em;
  border-top: 1px solid #d0d0d0;
}

#header-main .navbar-mobile-footer .nav-grid .nav-link:nth-child(even) {
  border-left: 1px solid #d0d0d0;
}

#header-main .navbar-mobile-footer .nav-grid .login-status {
  display: block;
  width: 100%;
}

#header-main .navbar-mobile-footer .nav-grid .login-status > a {
  border: 0;
  padding: 0;
  margin: 0;
  color: #191919;
  text-decoration: none;
}

#header-main .navbar-mobile-footer .nav-grid .login-status > a.name {
  font-weight: 700;
}

#header-main .navbar-mobile-footer .nav-grid .login-status > a.signout:before {
  content: '(';
  margin-left: 4px;
}

#header-main .navbar-mobile-footer .nav-grid .login-status > a.signout:after {
  content: ') ';
}

#header-main .navbar-mobile-footer.shadow:before {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  content: '';
  height: 3.5em;
  width: 100%;
  background: transparent -webkit-gradient(linear, left bottom, left top, from(#19191914), to(#19191900)) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(bottom, #19191914 0%, #19191900 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(0deg, #19191914 0%, #19191900 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: -3.5em;
}

#header-main .dropdown {
  border-top: 1px solid #d0d0d0;
}

#header-main .dropdown:not(:last-child) {
  border-bottom: 0;
}

#header-main .dropdown .nav-link {
  border-top: 0;
}

#header-main .dropdown .fa-chevron-down {
  float: right;
  font-size: 1.25em;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  width: .875em;
  height: 1em;
  vertical-align: -.125em;
}

#header-main .dropdown.show .fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#header-main .dropdown:after {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  content: '';
  display: block;
  height: 0.5em;
  background-color: #ffc627;
  position: absolute;
  top: 3em;
  bottom: inherit;
  width: 0;
  margin-left: 2em;
}

#header-main .dropdown.active:after {
  width: calc(100% - 4em);
  /* arbitrary number */
  margin-left: 2em;
}

#header-main .dropdown.show:after {
  width: calc(100% - 4em);
  /* arbitrary number */
  margin-left: 2em;
}

#header-main .dropdown.megamenu.show:after {
  width: calc(100% - 4em);
  /* arbitrary number */
  margin-left: 2em;
}

#header-main .dropdown-menu {
  margin: 0;
  padding: 1em;
  border: 0;
  border-top: 1px solid #d0d0d0;
  border-radius: 0;
}

#header-main .dropdown-menu .btn {
  margin: 0.5em 0;
}

#header-main .dropdown-menu div[class^='col-'] {
  margin-bottom: 3em;
  padding: 0 2em;
}

#header-main .dropdown-menu div[class^='col-']:last-child {
  margin-bottom: 0;
}

#header-main .dropdown-col {
  padding: 0 2em;
  margin-bottom: 3em;
}

#header-main .dropdown-col:last-child {
  margin-bottom: 0;
}

#header-main .dropdown-item {
  padding: 1em 0.5em;
  white-space: normal;
}

#header-main .dropdown-item:visited {
  color: #191919;
}

#header-main .dropdown-item + .dropdown-item {
  border-top: 1px solid #bfbfbf;
}

/*--------------------------------------------------------------
6. Main Menu, Mobile Only
--------------------------------------------------------------*/
#wrapper-header-main .container-lg {
  padding: 0;
}

/*--------------------------------------------------------------
7. Main Menu, Desktop
--------------------------------------------------------------*/
/* Breakpoint at which the mobile menu is triggered */
@media (min-width: 1200px) {
  #wrapper-header-top {
    display: block;
  }
  #header-main .navbar {
    padding: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  #header-main .navbar-brand .vert {
    display: block;
    height: 72px;
    width: auto;
    margin: 20px 1em 20px 0;
  }
  #header-main .navbar-brand .horiz {
    display: none;
  }
  #header-main .navbar-container.no-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2.5em;
  }
  #header-main .navbar-container.no-links .title {
    width: 100%;
    margin: 0;
  }
  #header-main .navbar-container.no-links .navbar-collapse {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  #header-main .title {
    line-height: 1;
    margin: 1em 0 0.5em 0;
    font-weight: 700;
    padding: 0;
  }
  #header-main .title .unit-name {
    font-size: 1.5em;
    margin-bottom: 0em;
    display: block;
    width: max-content;
  }
  #header-main .title .subdomain-name {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  #header-main .title .subdomain-name a {
    color: #191919;
    text-decoration: none;
  }
  #header-main .title .subdomain-name a:hover {
    text-decoration: underline;
  }
  #header-main .title.subdomain-name {
    font-size: 2em;
    margin: 1.5em 0 1em 0;
    font-weight: 700;
  }
  #header-main .navbar-site-buttons {
    padding: 0;
    border: 0;
  }
  #header-main .navbar-site-buttons .btn {
    margin-bottom: 0;
  }
  #header-main .navbar-site-buttons .btn + .btn {
    margin-left: 1em;
  }
  #header-main #menubar {
    overflow: initial;
  }
  #header-main .navbar-nav {
    line-height: 1.5em;
  }
  #header-main .navbar-nav > .nav-link {
    border: 0;
    font-size: 1em;
    color: #191919;
    padding: 0.5em 0.75em;
    /* Magic number */
    margin-right: 0.5em;
    white-space: nowrap;
  }
  #header-main .navbar-nav > .nav-link:after {
    -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    content: '';
    display: block;
    height: 0.5em;
    background-color: #ffc627;
    position: relative;
    top: inherit;
    bottom: 0;
    width: 0;
    margin-left: 0;
    bottom: -8px;
    left: -8px;
  }
  #header-main .navbar-nav > .nav-link:hover:after {
    width: 100%;
    margin-left: 0;
    width: calc(100% + 16px);
  }
  #header-main .navbar-nav > .nav-link.active:after {
    width: 100%;
    margin-left: 0;
    width: calc(100% + 16px);
  }
  #header-main .navbar-nav > .nav-link-home {
    padding-bottom: 7px;
    /* Magic number */
  }
  #header-main .navbar-nav > .nav-link-home .fa-home {
    display: inline-block;
    font-size: 16px;
  }
  #header-main .navbar-nav .nav-item .nav-link {
    padding: 0.5em 0.75em 0 0.75em;
    /* Magic number */
  }
  #header-main .dropdown {
    position: relative;
    padding: 0;
    border: 0;
    margin-right: 0.5em;
  }
  #header-main .dropdown:after {
    -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    content: '';
    display: block;
    height: 0.5em;
    background-color: #ffc627;
    position: relative;
    top: inherit;
    bottom: 0;
    width: 0;
    margin-left: 0;
  }
  #header-main .dropdown:hover:after {
    width: 100%;
    margin-left: 0;
  }
  #header-main .dropdown.active:after {
    width: 100%;
    margin-left: 0;
  }
  #header-main .dropdown.dropdown.show:after {
    width: 100%;
    margin-left: 0;
  }
  #header-main .dropdown.dropdown.megamenu.show:after {
    width: 100%;
    margin-left: 0;
  }
  #header-main .dropdown .fa-chevron-down {
    float: none;
    display: inline-block;
    font-size: 0.75em;
    margin-left: 0.5em;
  }
  #header-main .dropdown-menu {
    margin: -1px 0 0 0;
    border: 1px solid #d0d0d0;
    border-top: 1px solid #ffffff;
    padding: 2em;
  }
  #header-main .dropdown-menu div[class^='col-'] {
    margin-bottom: 0;
  }
  #header-main .dropdown-menu.dropdown-columns.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header-main .dropdown-col {
    width: 16em;
    padding: 0 1.5em 0 0;
    border-right: 1px solid #bfbfbf;
    margin-right: 1.5em;
  }
  #header-main .dropdown-col:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }
  #header-main .dropdown-col h3 {
    margin-top: 0;
  }
  #header-main .dropdown-item {
    padding: 0.5em 0;
    white-space: normal;
    text-decoration: none;
  }
  #header-main .dropdown-item:visited {
    color: #191919;
  }
  #header-main .dropdown-item:hover {
    color: #8c1d40;
    text-decoration: underline;
  }
  #header-main .dropdown-item + .dropdown-item {
    border-top: 0;
  }
  #header-main .megamenu {
    position: static;
  }
  #header-main .megamenu .dropdown-menu {
    background-color: #ffffff;
    border-bottom: 1px solid #bfbfbf;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 0;
    padding: 0;
  }
  #header-main .megamenu .row {
    width: 100%;
    padding: 2em 0;
  }
  #header-main .megamenu .row.with-buttons {
    padding: 1em 0;
  }
  #header-main .megamenu .row.with-buttons:before {
    content: '';
    height: 1px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #bfbfbf;
    position: relative;
    top: -1em;
  }
  #header-main .megamenu .row.with-buttons div[class^='col-'] {
    padding-bottom: 0;
  }
  #header-main .megamenu div[class^='col-'] {
    border-right: 1px solid #bfbfbf;
    padding: 0 1.5em 2.5em 1.5em;
    position: relative;
  }
  #header-main .megamenu div[class^='col-']:last-of-type {
    border-right: 0;
  }
  #header-main .megamenu div[class^='col-'] h3 {
    margin-top: 0;
  }
  #header-main .megamenu div[class^='col-'] .dropdown-item {
    white-space: normal;
  }
  #header-main .megamenu div[class^='col-'] .dropdown-item + .dropdown-item {
    border-top: 0;
  }
  #header-main .megamenu div[class^='col-'] .dropdown-item + .btn {
    position: absolute;
    bottom: 0;
    margin: 0;
  }
  #header-main .megamenu div[class^='col-'] .btn + .btn {
    margin-left: 1.5em;
  }
  #header-main .navbar-mobile-footer {
    display: none;
  }
}

/*--------------------------------------------------------------
8. Page Wrapper
--------------------------------------------------------------*/
/*
 * Fiddled the margin-top styles to only activate for
 * non-admin users (who will have the fixed-top class
 * on the header.
 * May need some additional margin tweaking so content
 * without a hero isn't snug up against the header.
 * -dlf
 */
#asu-header + div,
#asu-header + main {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  /*margin-top: 113px;*/
}

#asu-header.fixed-top + div,
#asu-header.fixed-top + main {
  margin-top: 113px;
}

#asu-header.scrolled + div,
#asu-header.scrolled + main {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  /*margin-top: 97px;*/
}

#asu-header.fixed-top.scrolled + div,
#asu-header.fixed-top.scrolled + main {
  margin-top: 97px;
}

@media (min-width: 992px) {
  #asu-header + div,
  #asu-header + main {
    -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    /*margin-top: 137px;*/
  }
  #asu-header.fixed-top + div,
  #asu-header.fixed-top + main {
    margin-top: 137px;
  }
  #asu-header.scrolled + div,
  #asu-header.scrolled + main {
    -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    -o-transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
    /*margin-top: 81x;*/
  }
  #asu-header.fixed-top.scrolled + div,
  #asu-header.fixed-top.scrolled + main {
    margin-top: 81px;
  }
}


/*------------------------------------------------------------------
Footer - Table of Contents

1. Bootstrap-related
2. Wrapper Base Colors and font size
3. Endorsed Footer (#endorsed-footer)
4. Footer Columns (#footer-columns)
5. Footer Innovation (#footer-innovation)
6. Footer Colophon (#footer-colophon)
7. Land acknowledgement
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. Bootstrap-related
--------------------------------------------------------------------*/
.wrapper div::before {
  content: none;
}

.wrapper .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.col-md {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-xl {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0;
}

.card-foldable {
  height: auto;
}

.card-foldable .card-header h5 {
  margin: 0;
}

.card-foldable .card-header h5 a {
  padding: 0.5em 1.5em;
  color: #191919;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.card-foldable .card-header h5 a svg.fa-chevron-up {
  margin-left: 1.5em;
  transition-duration: 0.4s;
  align-self: flex-start;
}

.card-foldable .card-header h5 a.collapsed svg.fa-chevron-up {
  transform: rotate(180deg);
}

.card-foldable .card-header + .card-body {
  border-top: 1px solid #d0d0d0;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-14 {
  width: .875em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -.125em;
}

.btn-gold {
  color: #212529 !important;
  background: #ffc627 !important;
  border-color: #ffc627;
}

.btn-gold:hover {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .card-foldable.desktop-disable-xl {
    border-left: 1px solid #d0d0d0;
  }
  .card-foldable.desktop-disable-xl .card-header svg {
    display: none;
  }
  .card-foldable.desktop-disable-xl .card-header + .card-body {
    border-top: 0;
  }
  .card-foldable.desktop-disable-xl .card-body {
    background-color: transparent;
  }
  .card-foldable.desktop-disable-xl .collapse {
    display: block;
    height: auto !important;
    visibility: visible;
  }
  .card-foldable.desktop-disable-xl .collapse:not(.show) {
    display: block;
  }
}

@media (min-width: 992px) {
  .btn-gold:hover {
    transform: scale(1.05);
  }
}

/*------------------------------------------------------------------
2. Wrapper Base Colors and font size
--------------------------------------------------------------------*/
#wrapper-endorsed-footer,
#wrapper-footer-columns,
#wrapper-land {
  background: #1e1e1e;
  font-size: 16px;  /* Springshare base font is very tiny, this lets us use em in the footer without multipliers */
}

#wrapper-endorsed-footer h5,
#wrapper-footer-columns h5 {
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: calc(100% + .12em);
}

#wrapper-endorsed-footer a {
  color: #e8e8e8;
}

#wrapper-footer-innovation {
  background-color: #ffc627;
}

#wrapper-footer-innovation a {
  margin-right: 1.5em;
  text-decoration: none;
  color: #191919;
}
footer #wrapper-footer-innovation img {
  float: right;
  text-align: right;
  margin-top: -2.5rem;
  margin-bottom: -1.3rem;
  max-width: 447px;
  width: 100%;
}


#wrapper-footer-colophon {
  background-color: #e8e8e8;
}

#wrapper-footer-colophon a {
  margin-right: 1.5em;
  text-decoration: none;
  color: #191919;
}

.wrapper a:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #191919 !important;
}

/*------------------------------------------------------------------
3. Endorsed Footer (#endorsed-footer)
--------------------------------------------------------------------*/
#endorsed-logo img {
  width: 100%;
  height: auto;
  padding: 1.5em 0 1em 0;
}

#social-media .nav {
  padding-bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

#social-media .nav-link {
  font-size: 2em;
  color: #bfbfbf;
  line-height: 1;
  padding: 7px 0.5em 0.5em 0.5em;
}

@media (min-width: 768px) {
  #endorsed-logo img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em 0;
    margin-left: -1.625em;
    /* Magic number. Derived from internal padding of endorsed logo */
    max-height: 8em;
    width: auto;
  }
  #social-media .nav {
    padding: 2.5em 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #social-media .nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
}

/*------------------------------------------------------------------
4. Footer Columns (#footer-columns)
--------------------------------------------------------------------*/
#footer-columns {
  padding: 1.5em 2em;
  border-top: 2px solid #393939;
}

#footer-columns #info-column .contact-link {
  margin-bottom: 2em;
}

#footer-columns #info-column .contact-link a {
  color: #e8e8e8;
  line-height: 1.5em;
  text-decoration: underline;
}

#footer-columns #info-column .contact-link a:hover {
  color: #ffc627;
  text-decoration: underline;
}

#footer-columns #info-column .contribute-button {
  margin-bottom: 2em;
}

.contribute-button .btn {
  font-weight: bold;
  user-select: none;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 400rem;
  transition: 0.03s ease-in-out;
}

#footer-columns .flex-footer .card-foldable,
#footer-columns .flex-footer .card-header,
#footer-columns .flex-footer .card-body {
  background: #1e1e1e;
  color: #ffffff;
  border: 0;
}

#footer-columns .flex-footer .card-header {
  border-top: 1px solid #393939;
}

#footer-columns .flex-footer .card-header a {
  color: #e8e8e8;
  padding: 1.5em 0;
  text-decoration: none;
}

#footer-columns .flex-footer .card-header a:hover {
  background: #1e1e1e;
}

#footer-columns .flex-footer .card-body {
  padding: 0 0 0 1.5em;
}

#footer-columns .flex-footer .card-body .nav-link {
  padding: 0 0 1em;
  color: #e8e8e8;
  line-height: 1.5em;
  text-decoration: none;
  transition: none;
}

#footer-columns .flex-footer .card-body .nav-link:hover {
  color: #ffc627;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  #footer-columns {
    padding: 3em 0;
  }
  #footer-columns h5 {
    margin: 0 0 1.5em 0;
  }
  #footer-columns .flex-footer .card-header {
    border-top: 0;
    padding: 0;
  }
  #footer-columns .flex-footer .card-header a {
    padding: 0;
    cursor: default;
  }
  #footer-columns .flex-footer .card-header span {
    display: none;
  }
  #footer-columns .flex-footer .card-body {
    padding: 0;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
  }
  #footer-columns .flex-footer .card-body.collapse:not(.show) {
    display: block;
    min-height: auto;
  }
}

/*------------------------------------------------------------------
5. Footer Innovation (#footer-innovation)
--------------------------------------------------------------------*/
#footer-innovation .footer-innovation-links {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
}

#footer-innovation .footer-innovation-links img {
  height: 100px;
  width: auto;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

#footer-innovation .footer-innovation-links .nav-link {
  padding: 0;
}

#footer-innovation .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

@media (max-width: 991.98px) {
  #footer-innovation {
    padding: 0;
  }
  #footer-innovation .footer-innovation-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 1.5em;
  }
  #footer-innovation .footer-innovation-links img {
    width: 100%;
    height: auto;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  #footer-innovation .footer-innovation-links .nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-items: start;
    width: 100%;
    padding: 0 2em;
  }
  #footer-innovation .footer-innovation-links .nav-link {
    margin-right: 0;
    padding: 0.5em 0;
  }
  #footer-innovation .footer-innovation-links .nav-link:nth-child(n + 4) {
    justify-self: end;
  }
}

/*------------------------------------------------------------------
6. Footer Colophon (#footer-colophon)
--------------------------------------------------------------------*/
#wrapper-footer-colophon .colophon {
  margin: 1em 0;
}

#footer-colophon .nav-link {
  padding: 0;
}

#footer-colophon .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
#footer-colophon .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

@media (max-width: 991.98px) {
  #footer-colophon {
    padding: 0;
  }
  #footer-colophon .nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-items: start;
    width: 100%;
    padding: 0 2em;
  }
  #footer-colophon .nav-link {
    margin-right: 0;
    padding: 0.5em 0;
  }
  #footer-colophon .nav-link:nth-child(n + 4) {
    justify-self: end;
  }
}

/*------------------------------------------------------------------
7. Land acknowledgement
--------------------------------------------------------------------*/
#wrapper-land {
  color: #fff;
  line-height: 1.5;
  padding: 2em 0;
}