#asu-header {
	font-family: Arial,Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #191919;
	text-align: left;
	top: 0;
	position: fixed;
	width: 100%;
	display: flex;
	overflow: hidden;
	z-index: 999;
	left: 0;
	padding: 0;
	background: rgb(255, 255, 255) none repeat scroll 0 0;
}
#s-lg-az-nav, #s-lg-er-nav, #s-lg-hp-nav, #s-lg-profile-nav, #s-lg-srch-nav {
	color: #333;
	background: #e8e8e8;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 0;
	margin-top: 72px;
}

.btn.btn-info.s-lg-hp-btn-section {
  margin-top: 22px;
}

:
