<style>

body { padding: 0; }

/*removing italics */
body i,em {
    font-style: normal;
}

header { /*width: 1170px; margin: 0 auto;*/ width: 100%; }
header a { text-decoration: none; color: #A30046; transition: all 0.25s ease-in-out 0s; background: rgba(0, 0, 0, 0); }
header a:hover,
header a:focus { color: #d23153; }

#s-lc-public-header { width: 100%; }
#s-lc-public-bc { background: #353535; padding: 12px 12px 6px 12px; margin-bottom: 12px; overflow: hidden; width: 100%; }
#s-lc-public-bc a { color: #ededed; }
#s-lc-public-bc a:hover,
#s-lc-public-bc a:focus { color: #ffb204; }
#s-lc-public-bc .breadcrumb { float: left; max-width: 1170px; margin: 5px auto 10px auto; padding: 0 15px; }

.s-lc-header h1#s-lc-public-header-title { max-width: 1170px; margin: 5px auto; padding: 0; }




a, .ui-widget-content a { color: #A30046; transition: all 0.25s ease-in-out 0s; background: rgba(0, 0, 0, 0); }
a:hover,
a:focus { color: #d23153; }
.nav-pills>li.active>a,
.btn { border: 1px solid rgba(0, 0, 0, 0); border-radius: 4px; cursor: pointer; display: inline-block; font-weight: normal; line-height: 1.44; margin-bottom: 0; text-align: center; vertical-align: middle; white-space: nowrap;  color: #000;  background-color: #ddd;  border-color: #420016;  transition: all 0.25s ease-in-out 0s; word-wrap: break-word; }
.nav-pills>li.active>a:hover,
.btn:hover,
.nav-pills>li.active>a:focus,
.btn:focus {  border: 1px solid rgba(0, 0, 0, 0);  text-decoration: none;  background-color: #d23153; color: #fff; }
.btn-default[disabled] { background-color: #903; border-color: #420016; } /* undo bootstrap */



.alert-info { color: #393939; background-color: #ededed; border-color: #cdcdcd; }


@media screen and (max-width: 900px) {

}
@media screen and (max-width: 460px) {

}

/*Footer menu horizontal*/
.footer-menu li {
    display: inline;
}
</style>