<link href="https://s3.amazonaws.com/libapps/accounts/4141/images/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="https://s3.amazonaws.com/libapps/accounts/4141/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="76x76" />
<link href="https://s3.amazonaws.com/libapps/accounts/4141/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="120x120" />
<link href="https://s3.amazonaws.com/libapps/accounts/4141/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="152x152" />
<link href="https://s3.amazonaws.com/libapps/accounts/4141/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="https://s3.amazonaws.com/libapps/accounts/4141/images/apple-touch-icon.png" rel="icon" sizes="192x192" />
<link href="https://s3.amazonaws.com/libapps/accounts/4141/images/apple-touch-icon.png" rel="icon" sizes="128x128" />
<link rel="shortcut icon" href="https://s3.amazonaws.com/libapps/accounts/4141/images/favicon.ico" type="image/vnd.microsoft.icon" />
<style>

/* Undo Springshare styles that affect header/footer elements */
.footer-innovation-links .nav::before,
nav.colophon::before {
    content: none;
}
.footer-innovation-links,
.nav.colophon {
  font-size: 16px;
}
/* Mobile menu is a mess so don't use it for now. Keep global menu visible */
#wrapper-header-top { display: flex; }

    body { padding: 0; }

    /* Hide the grey bar under the list of guides that includes a login link and "powered by..." statement */
    .s-lib-footer { background: none; }
    #s-lib-footer-login-link { display: none; }

    /* Breadcrumb/nav bar under header */
    .breadcrumb { display: flex; flex-wrap: wrap; padding: 0.75em 1em 0.75em 0 !important; margin-bottom: 1em; font-size: 14px !important; font-weight: 400 !important; list-style: none; background-color: transparent; }
    .breadcrumb a { color: #8c1d40; text-decoration: underline; background-color: transparent; }
    .breadcrumb li.active { color: #191919; }
    .breadcrumb li + .breadcrumb li { padding-left: .5em; }
    #s-lib-bc { display: flex; flex-wrap: wrap; justify-content: space-between; }
    #login-link { padding: 0.75em 0 0.75em 1em; font-size: 14px; }

    /* Solid line under tab menu on guide pages */
    #s-lg-guide-tabs-title-bar { border-top: 2px solid #903; }
    #s-lg-tabs-container .nav-tabs { margin-bottom: 1px; }
    /* #s-lg-tabs-container .nav-tabs > li > a { padding: 4px 15px 2px 15px; } */

    /* Box titles - no underline and larger font */
    .s-lib-box .s-lib-box-title { border-bottom: none; font-size: 1.5em; font-weight: normal; }

    /* Black footer menu section with logo and 3 menu columns */
    .region-tertiary-content { color: #FFF; background: #1E1E1E; padding-top: 20px; /*width: 1170px; margin: 0 auto;*/ width: 100%; }
    .region-tertiary-content .asu-filler { max-width: 1170px; margin: 0 auto; font-size: 14px; }
    .region-tertiary-content img { width: 100%; max-width: 267px; }
    .region-tertiary-content .block-block { width: 16.6%; float: left; margin-bottom: 0; padding: 0 15px 30px 15px; }
    .region-tertiary-content .block:first-child { width: 33.3%; }
    .region-tertiary-content .block:first-child a { border: none; }
    .region-tertiary-content h1 { margin-bottom: 1em; font-size: 1em; line-height: 1.2; color: #FFF; }
    .region-tertiary-content address { color: #FFF; margin-bottom: 0; font-weight: 246; font-style: normal; line-height: 1.44; }
    .region-tertiary-content ul { margin: 0; padding: 0; list-style: none; }
    .region-tertiary-content .social-icons > li { float: left; position: relative; display: block; }
    .region-tertiary-content .social-icons > li > a { font-size: 2.4em; color: #A9A9A9; border-bottom: 0; text-decoration: none; position: relative; }
    .region-tertiary-content .social-icons > li > a:hover,
    .region-tertiary-content a:hover,
    .region-tertiary-content .social-icons > li > a:focus,
    .region-tertiary-content a:focus { color: #FFF; text-decoration: none; }
    .region-tertiary-content li { margin: 0; padding: 0; }
    .region-tertiary-content .block:first-child p { margin-top: 1em; margin-bottom: 0; }
    .region-tertiary-content h4 { margin-bottom: 16px; font-size: 1.2em; font-weight: normal; color: #FFF; }
    .region-tertiary-content a { color: #CCC; border-bottom: 1px dotted #CCC; text-decoration: none; transition: all 0.25s ease-in-out 0s; background: rgba(0, 0, 0, 0); }
    .region-tertiary-content a:hover,
    .region-tertiary-content a:focus { color: #fff; }
    .region-tertiary-content .block:last-child { padding-right: 0; }

    /* Grey footer menu */
    #footer { width: 100%; background: #E5E5E5; padding: 12px 12px; /* width: 1170px; margin: 0 auto;*/ }
    #footer .asu-filler { max-width: 1170px; margin: 0 auto; }
    #footer a { text-decoration: none; font-size: 16px; font-weight: 400; color: #333; padding: 0 15px; margin: 0;}
    #footer a:hover,
    #footer a:focus { color: #666; text-decoration: underline; }

    /* Yellow innovation footer section with badge */
    #innovation-bar .innovation-hidden {float: right;height: 0; width: 19%;}
    #innovation-bar img {height: 5em; margin-top: -1em;}
    #innovation-bar {background-color: #ffc627;}
    #innovation-bar .innovation-status { display: inline-block;  margin-bottom: 0.7em;  margin-top: 0.7em;  text-align: right;  width: 78%;}
    #innovation-bar a {border-bottom: 0 none; color: #000; font-size: x-large; font-weight: 700;   text-decoration: none;}
    #innovation-footer {left: 0; position: absolute; right: 0;}
    #innovation-bar .innovation-top {margin: 0 auto;}
    #innovation-footer .footer-menu {background-color: #e5e5e5;padding: 0 15px;}
    #innovation-footer .footer-menu ul {display: inline; list-style: outside none none; margin: 0 auto; padding-bottom: 0.5em; padding-top: 1em;}
    #innovation-footer .footer-menu ul.default { padding-left: 15px;}
    #innovation-footer .footer-menu ul li {float: left;padding-bottom: 12px;}
    #innovation-footer .footer-menu ul li a {border-bottom: medium none; color: #333; font-size: 1.3em; font-weight: 400; margin-right: 30px; text-decoration: none; transition: all 0.25s ease-in-out 0s;}

    /* link color within box content*/
    a,
    .ui-widget-content a { color: #A30046; transition: all 0.25s ease-in-out 0s; background: rgba(0, 0, 0, 0); }
    a:hover,
    a:focus,
    .s-lib-profile-div a:focus i,
    .s-lib-profile-div a:hover i { color: #d23153; }

    #s-lg-guide-header-info a:not(.label),
    #s-lg-guide-main a:not(.label),
    .s-lib-profile-container a:not(.label) { border-bottom: 1px dotted #a30046; }

    #s-lg-guide-header-info a:hover,
    #s-lg-guide-header-info a:focus,
    #s-lg-guide-main a:hover,
    #s-lg-guide-main a:focus,
    .s-lib-profile-container a:hover,
    .s-lib-profile-container a:focus { text-decoration: none; }

    .s-lib-profile-container a[title^=Skype],
    .s-lib-profile-container a[title^=Website],
    .s-lib-profile-social a { border-bottom: none!important; }

    /* Menu bar on home page with guide types */
    .nav-pills>li.active>a,
    .btn { border: 0px solid rgba(0, 0, 0, 0); border-radius: 4px; cursor: pointer; display: inline-block; font-weight: normal; line-height: 1.44; margin-bottom: 0; text-align: center; vertical-align: middle; white-space: nowrap;  color: #fff;  background-color: #903;  border-color: #420016;  transition: all 0.25s ease-in-out 0s; word-wrap: break-word; }
    .nav-pills>li.active>a:hover,
    .btn:hover,
    .nav-pills>li.active>a:focus,
    .btn:focus {  border: 0px solid rgba(0, 0, 0, 0);  text-decoration: none;  background-color: #d23153; color: #fff; }
    .nav-pills>li.active>button, .nav-pills>li.active>button:focus, .nav-pills>li.active>button:hover {
        background-color: #990033;
    }

    .carousel-control { font-size: 5em; }

    .alert-info { color: #393939; background-color: #ededed; border-color: #cdcdcd; }

    /* LibCal widget hours display */
    .hours-today .hours-depart { display: none;}
    .hours-today .hours-depart.dep1304 { display: table-row; }
    .hours-today td { padding-right: 1em; }

    /* Show visitor hours for Hayden building hours */
    #s-lg-box-8811644 .hours-today tr:nth-child(2) { display: table-row; }

    /* Show Labriola hours & hide main Hayden hours */
    #s-lg-box-8812638 .hours-today .hours-library { display: none; }
    #s-lg-box-8812638 .hours-today tr:nth-child(6) { display: table-row; }

    /* Hide A-Z and LibAnswers stuff from Profiles index page */
    #s-lg-profile-az-div {display: none !important;}
    #s-lg-profile-help-div {display: none !important;}

    @media screen and (max-width: 900px) {
        .region-tertiary-content .block-block { width: 20%; padding: 0 10px 30px 10px; }
    }
    @media screen and (max-width: 460px) {
        .region-tertiary-content .block-block,
        .region-tertiary-content .block:first-child {width: 50%; }
    }

    /* ---new tabbed boxes styles --- */
    .s-lib-jqtabs > .nav-tabs > li > a {
        color: #fff;
        font-weight: normal;
        background: #797979 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
        border: 1px solid #797979;
    }
    .s-lib-jqtabs > .nav-tabs > .active > a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
        background: #990033 url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
        border: 1px solid #990033;
        color: #fff;
    }

    /* ---Styles for A-Z Database List --- */

    /* Add bottom link to A-Z list page */
    #s-lib-az-bottom {
        padding-bottom: 5px;
        text-align: left;
        font-size: 14px;
        line-height: 1em;
        color: #000000;
    }

    /* Hide vendor list on A-Z list page */
    #col-vendors {
        display: none;
    }

    /* Format More Info heading in A-Z list */
    .az-desc-heading, .az-more-heading {
        font-weight: bold;
    }

    /* Font size of titles in A-Z list */
    .s-lg-az-result-title {
        font-size: 14px;
    }

    /* Font size of database description in A-Z list */
    .s-lg-az-result-description {
        font-size: 12px;
    }

    /* Icon size A-Z list */
    .s-lg-icon {
        max-height: 20px;
        max-width: 20px;
    }

    div.s-lg-az-result-badges > span {font-size: 90%;}

    /* Label size and color A-Z list..new, trial, best bets icons */
    .s-lg-az-result-badge-new.label.label-info {
        background-color: #008ed6 !important;
    }
    .s-lg-az-result-badge-new {
        background-color: #008ed6;
    }
    .s-lg-az-result-badge-trial.label.label-warning {
        background-color: #f0ad4e;
    }
    .s-lg-az-result-badge-trial {
        background-color: #f0ad4e;
    }
    .s-lg-az-result-badge-featured.label.label-success {
        background-color: #5cb85c;
    }
    .s-lg-az-result-badge-featured {
        background-color: #5cb85c;
    }

    /* More info text on AZ list to match description */
    .s-lg-content-more-info { font-size: 12px; }

    /* Share button text on AZ list to grey */
    .s-lg-az-result-share .btn-link { color: #ccc; }

    /* change AZ list alphabet boxes back to default no background */
    #s-lg-az-index .btn-group>.btn-link {
        background: #fff;
        color: #990033;
        border: none;
        font-weight: 600;
    }
    .s-lg-az-first, .s-lg-text-ghost {
        background: #fff;
        color: #990033;
        border: none;
        font-weight: 600;
    }

    #s-lg-facet-div-group_id {display: none;}

    .s-ui-helptip .btn-link {
        background-color: transparent !important;
        color: #000;
        border: none;
    }
    .s-lg-label-moreinfo {
        margin-top: 5px;
    }

    /* --- End Styles for A-Z Database List --- */

    /* --- New Styles for LibGuides --- */

    .s-lg-guide-body {
        font-size: 14px;
    }
    .s-lg-guide-body .h4, .s-lg-guide-body h4 {
        font-size: 21px;
    }

    .s-lg-guide-body .h5, .s-lg-guide-body h5 {
        font-size: 16px;
        font-weight: 600;
    }
    .s-lg-guide-body .h6, .s-lg-guide-body h6 {
        font-size: 16px;
        font-style: italic;
    }
    .header { width: 100%; margin: 0 auto;}

    .s-lg-guide-body #s-lib-bc {
        background-color: transparent;
        padding: 0;
        color: #353535;
        max-width: 1170px;
        margin-bottom: 12px;
        overflow: hidden;
        width: 100%;
    }
    .s-lg-guide-body #s-lib-bc a {
        color: #8c1d40;
        font-size: 12px;
    }
    #s-lg-guide-footer-updated.s-lg-h-separator .s-lg-text-greyout {
        color: #8c1d40;
    }
    #s-lg-guide-footer-url.s-lg-h-separator .s-lg-text-greyout {
        color: #8c1d40;
    }
    #s-lg-guide-description {
        color: #ffffff;
    }
    .s-lg-guide-body #s-lib-bc a:hover, #s-lib-bc a:focus {
        color: #990033;
    }
    .s-lg-guide-body .breadcrumb>.active { color: #990033; }
    .s-lg-guide-body .breadcrumb>li+li:before { color: #000000; }

    #s-lg-guide-tabs {
        font-size: 16px !important;
    }

    #s-lg-guide-tabs .active>a {
        display: block;
        text-align: left;
    }
    .s-lg-guide-body .nav-pills > li.active > a, .btn {
        white-space: normal;
    }
    .s-lg-guide-body .s-lib-box {
        background-color: #FFF;
        display: inline-block;
        margin: 0 0 30px;
        position: relative;
        padding: 15px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 15px #888888;
    }

    .s-lg-guide-body .s-lib-box .s-lib-box-title {
        font: Arial;
        font-size: 30px;
        font-weight: normal;
        border-bottom: 1px solid #e9e9e9;
        padding: 10px 0;
        color: #8C1D40;
        background-color: #ffffff;
    }

    #s-lg-guide-tabs-title-bar {
        border-top: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #s-lg-guide-header-info h1 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 1px;
        font-family: "Arial";
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
    }

    .s-lg-guide-body .s-lg-tabs-container .nav-tabs {
        font-weight: bold;
    }

    .s-lg-guide-body .s-lg-tabs-side .s-lg-boxnav .list-group-item {
        font-size: 16px !important;
        background-color: #ffffff;
    }

    .s-lg-guide-description
    {
        padding: 10px;
    }

    .s-lg-no-val, .s-lg-text-greyout, .s-lib-greyout {
        color: #ffffff;
    }
    #s-lg-guide-header-info a:not(.label) {
        border-bottom: 1px dotted #999999;
        color: #fff;
    }

    #s-lg-guide-search-box {
        margin-top: 5px;
    }

    #s-lg-guide-header {
        background-image: url("https://libapps.s3.amazonaws.com/customers/827/images/libguides-hero_3663x405.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        /* box-shadow: inset 0 -150px 250px -100px rgba(0,0,0,1), inset 0 -10px 25px -10px rgba(0,0,0,.5); */
        color: #fff;
        position: relative;
        z-index: 1;
        width: 100%;
        /*    max-height: 200px; */
        /*    padding-top: 10px; */
        padding-bottom: 40px;
    }

    /* Header image per screen size */
    @media only screen and (max-width: 350px) {
        #s-lg-guide-header {
            background-image: url("https://libapps.s3.amazonaws.com/customers/827/images/libguides-hero_350x39.png" style="max-width: 350px") !important;
        }
        #s-lg-guide-description {
            display: none;
        }
    }
    @media only screen and (max-width: 351px) {
        #s-lg-guide-header-info h1 {
            font-size: 20px !important;
        }
    }
    @media screen and (min-width: 352px) and (max-width: 589px) {
        #s-lg-guide-header {
            background-image: url("https://libapps.s3.amazonaws.com/customers/827/images/libguides-hero_590x65.png" style="max-width: 589px") !important;
        }
        #s-lg-guide-description {
            display: none;
        }
    }
    @media screen and (min-width: 352px) and (max-width: 589px) {
        #s-lg-guide-header-info h1 {
            font-size: 28px !important;
        }
    }
    @media screen and (min-width: 590px) and (max-width: 799px) {
        #s-lg-guide-header {
            background-image: url("https://libapps.s3.amazonaws.com/customers/827/images/libguides-hero_800x88.png" style="max-width: 799px") !important;
        }
        #s-lg-guide-description {
            display: none;
        }
    }
    @media screen and (min-width: 590px) and (max-width: 799px) {
        #s-lg-guide-header-info h1 {
            font-size: 32px !important;
        }
    }
    @media screen and (min-width: 800px) {
        #s-lg-guide-header {
            background-image: url("https://libapps.s3.amazonaws.com/customers/827/images/libguides-hero_3663x405.png") !important;
        }
    }

    .s-lg-guide-body #login-link {
        margin-top: -20px;
    }

    }

    #s-lg-box-23554645 {
        border: none;
    }
    #s-lg-box-23554645 .s-lib-box-title {
        display: none !important;
    }
    #s-lg-box-23554645 .s-lib-box-content {
        padding: 0;
    }
    #s-lg-box-23554645 a {
        color: #000000;
        text-decoration: underline;
    }

</style>