<div class="wrapper" id="wrapper-endorsed-footer">
  <div id="endorsed-footer" class="container">
    <div class="row">
      <div id="endorsed-logo" class="col-md">
        <img alt="Arizona State University Library" src="https://s3.amazonaws.com/libapps/customers/827/images/asu_library_white_noborder2.png">
      </div>
      <div id="social-media" class="col-md">
        <nav class="nav" aria-label="Social Media">
          <a class="nav-link" href="http://twitter.com/ASUlibraries" title="Twitter"><svg title="Twitter Social Media Icon" class="svg-inline--fa fa-twitter-square fa-w-14" aria-labelledby="svg-inline--fa-title-kwSuXez0oEWB" data-prefix="fab" data-icon="twitter-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><title id="svg-inline--fa-title-kwSuXez0oEWB">Twitter Social Media Icon</title><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path></svg><!--<i class="fa fa-twitter-square">&nbsp;</i>--></a>
          <a class="nav-link" href="http://www.facebook.com/ASULibraries" title="Facebook"><svg title="Facebook Social Media Icon" class="svg-inline--fa fa-facebook-square fa-w-14" aria-labelledby="svg-inline--fa-title-MmMUFTAVXWDG" data-prefix="fab" data-icon="facebook-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><title id="svg-inline--fa-title-MmMUFTAVXWDG">Facebook Social Media Icon</title><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg><!--<i class="fa fa-facebook-square">&nbsp;</i>--></a>
          <a class="nav-link" href="http://instagram.com/ASULibraries/"><svg title="Instagram Social Media Icon" class="svg-inline--fa fa-instagram-square fa-w-14" aria-labelledby="svg-inline--fa-title-4MhOH5u1ccD1" data-prefix="fab" data-icon="instagram-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><title id="svg-inline--fa-title-4MhOH5u1ccD1">Instagram Social Media Icon</title><path fill="currentColor" d="M224,202.66A53.34,53.34,0,1,0,277.36,256,53.38,53.38,0,0,0,224,202.66Zm124.71-41a54,54,0,0,0-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31,6.43a54,54,0,0,0-30.41,30.41c-8.28,21-6.43,71.05-6.43,94.33S91,329.26,99.32,350.33a54,54,0,0,0,30.41,30.41c21,8.29,71,6.43,94.31,6.43s73.24,1.93,94.3-6.43a54,54,0,0,0,30.41-30.41c8.35-21,6.43-71.05,6.43-94.33S357.1,182.74,348.75,161.67ZM224,338a82,82,0,1,1,82-82A81.9,81.9,0,0,1,224,338Zm85.38-148.3a19.14,19.14,0,1,1,19.13-19.14A19.1,19.1,0,0,1,309.42,189.74ZM400,32H48A48,48,0,0,0,0,80V432a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V80A48,48,0,0,0,400,32ZM382.88,322c-1.29,25.63-7.14,48.34-25.85,67s-41.4,24.63-67,25.85c-26.41,1.49-105.59,1.49-132,0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61,0-132,1.29-25.63,7.07-48.34,25.85-67s41.47-24.56,67-25.78c26.41-1.49,105.59-1.49,132,0,25.63,1.29,48.33,7.15,67,25.85s24.63,41.42,25.85,67.05C384.37,216.44,384.37,295.56,382.88,322Z"></path></svg><!--<i class="fa fa-instagram">&nbsp;</i>--></a>
          <a class="nav-link" href="https://lib.asu.edu/govdocs"><img alt="Federal Depository Library Program Emblem" src="https://lib.asu.edu/sites/default/files/govdocs/fdlp-emblem-color-25.png" style="width: 47px; height: 41px;"></a>
        </nav>
      </div>
    </div>
  </div>
</div>
<div id="wrapper-footer-columns" class="wrapper">
  <nav aria-label="Footer">
    <div id="footer-columns" class="container">
      <div class="row">
        <div id="info-column" class="col-xl">
          <h5>ASU Library</h5>
          <p class="contact-link"><a href="">Contact Us</a></p>
          <p class="contribute-button"><a href="" class="btn btn-gold btn-small">Contribute</a></p>
        </div>
        <div class="col-xl flex-footer">
          <div class="card card-foldable desktop-disable-xl">
            <div class="card-header">
              <h5><a id="footlink-header-two" class="collapsed" data-toggle="collapse" href="#footlink-two" role="button" aria-expanded="false" aria-controls="footlink-two">About the Library<svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path></svg><!--<span class="fas fa-chevron-up"></span>--></a></h5>
            </div>
            <div id="footlink-two" class="collapse card-body" aria-labelledby="footlink-header-two">
              <a class="nav-link" href="https://lib.asu.edu/employment">Employment</a>
              <a class="nav-link" href="https://lib.asu.edu/librarychannel">Library News</a>
              <a class="nav-link" href="https://lib.asu.edu/policies">Policies</a>
              <a class="nav-link" href="https://lib.asu.edu/we-listened">We're Listening!</a>
              <a class="nav-link" href="https://lib.asu.edu/about/who-we-are">Who We Are</a>
            </div>
          </div>
        </div>
        <div class="col-xl flex-footer">
          <div class="card card-foldable desktop-disable-xl">
            <div class="card-header">
              <h5><a id="footlink-header-three" class="collapsed" data-toggle="collapse" href="#footlink-three" role="button" aria-expanded="false" aria-controls="footlink-three">Contact Us<svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path></svg><!--<span class="fas fa-chevron-up"></span>--></a></h5>
            </div>
            <div id="footlink-three" class="collapse card-body" aria-labelledby="footlink-header-three">
              <a class="nav-link" href="http://askalibrarian.asu.edu/">Ask a Librarian</a>
              <a class="nav-link" href="https://lib.asu.edu/help/suggestions">Feedback</a>
              <a class="nav-link" href="https://lib.asu.edu/directory">Staff Directory</a>
            </div>
          </div>
        </div>
        <div class="col-xl flex-footer">
          <div class="card card-foldable desktop-disable-xl">
            <div class="card-header">
              <h5><a id="footlink-header-four" class="collapsed" data-toggle="collapse" href="#footlink-four" role="button" aria-expanded="false" aria-controls="footlink-four">Hours and Locations<svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path></svg><!--<span class="fas fa-chevron-up"></span>--></a></h5>
            </div>
            <div id="footlink-four" class="collapse card-body" aria-labelledby="footlink-header-four">
              <a class="nav-link" href="https://lib.asu.edu/hours">Hours</a>
              <a class="nav-link" href="https://lib.asu.edu/locations">Maps and Locations</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div id="wrapper-land" class="wrapper">
  <div class="container">
    <div class="row">
      <p>The ASU Library acknowledges the twenty-two Native Nations that have inhabited this land for centuries. Arizona State University's four campuses are located in the Salt River Valley on ancestral territories of Indigenous peoples, including the Akimel O’odham (Pima) and Pee Posh (Maricopa) Indian Communities, whose care and keeping of these lands allows us to be here today. ASU Library acknowledges the sovereignty of these nations and seeks to foster an environment of success and possibility for Native American students and patrons. We are advocates for the incorporation of Indigenous knowledge systems and research methodologies within contemporary library practice. ASU Library welcomes members of the Akimel O’odham and Pee Posh, and all Native nations to the Library.</p>
    </div>
  </div>
</div>

<div class="wrapper" id="wrapper-footer-innovation">
  <div class="container" id="footer-innovation">
    <div class="row">
      <div class="col">
        <div class="d-flex footer-innovation-links">
          <img src="images/200420-GlobalFooter-No1InnovationLockup.png" srcset="images/200420-GlobalFooter-No1InnovationLockup.png 1x, /images/200420-GlobalFooter-No1InnovationLockup@2x.png 2x" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
          <nav class="nav" aria-label="University Services">
            <a class="nav-link" href="https://www.asu.edu/map/">Maps and Locations</a>
            <a class="nav-link" href="https://www.asu.edu/asujobs">Jobs</a>
            <a class="nav-link" href="https://isearch.asu.edu/">Directory</a>
            <a class="nav-link" href="https://www.asu.edu/contactasu/">Contact ASU</a>
            <a class="nav-link" href="https://my.asu.edu/">My ASU</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="wrapper-footer-colophon">
  <div class="container" id="footer-colophon">
    <div class="row">
      <div class="col">
        <nav class="nav colophon" aria-label="University Legal and Compliance">
          <a class="nav-link" href="https://www.asu.edu/copyright/">Copyright and Trademark</a>
          <a class="nav-link" href="https://www.asu.edu/accessibility/">Accessibility</a>
          <a class="nav-link" href="https://www.asu.edu/privacy/">Privacy</a>
          <a class="nav-link" href="https://www.asu.edu/tou/">Terms of Use</a>
          <a class="nav-link" href="https://www.asu.edu/emergency/">Emergency</a>
        </nav>
      </div>
    </div>
  </div>
</div>