header {
	font-family: Arial,Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #191919;
	text-align: left;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
	left: 0;
	padding: 0;
	background: rgb(255, 255, 255) none repeat scroll 0 0;
}
.closed {
  top: 0;
  margin-top: 0;
}

.blocks {
  display: block;
  position: relative;
  margin-top: 177px;
}

#content h2 {
	margin-top: 172px;
}